<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">


			<style>
			div#expand1{
			display:none;
			}
			div#expand2{
			display:none;
			}
			div#expand3{
			display:none;
			}
			div#expand4{
			display:none;
			}
			</style>
			<script>
			function show1()
			{
			//Function content goes here
			if(document.getElementById('expand1').style.display == 'block')
				document.getElementById('expand1').style.display = 'none';
			else
				document.getElementById('expand1').style.display = 'block';

			}
			function show2()
			{
			//Function content goes here
			if(document.getElementById('expand2').style.display == 'block')
				document.getElementById('expand2').style.display = 'none';
			else
				document.getElementById('expand2').style.display = 'block';

			}
			function show3()
			{
			//Function content goes here
			if(document.getElementById('expand3').style.display == 'block')
				document.getElementById('expand3').style.display = 'none';
			else
				document.getElementById('expand3').style.display = 'block';

			}
			function show4()
			{
			//Function content goes here
			if(document.getElementById('expand4').style.display == 'block')
				document.getElementById('expand4').style.display = 'none';
			else
				document.getElementById('expand4').style.display = 'block';

			}
			</script>


		</head>



		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/about">About</a></li>
							<li><a href="/projects">Projects</a></li>
							<li><a href="/teaching/teaching">Teaching</a></li>
	    		</ul>
			</nav>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/david-chen-21170064/">LinkedIn</a></li>
							<li><a href="https://twitter.com/chenzo_">Tweeter</a></li>
							<li><a href="https://github.com/davidchenlee/">Github</a></li>

				</ul>
			</footer>

		</body>
	</html>
